<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <title>AOI IT資信管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<link rel="shortcut icon" href="{{$Think.__MY_ROOT_PUBLIC__}}static/portal/css/img/favicon.ico" />-->

    <!-- css -->
    <!--<link href="{{$Think.__MY_ROOT_PUBLIC__}}static/portal/css/bootstrap.min.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="{{$Think.__MY_ROOT_PUBLIC__}}static/common/lib/layui/css/layui.css"  media="all">
    <!--<link href="{{$Think.__MY_ROOT_PUBLIC__}}static/portal/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="{{$Think.__MY_ROOT_PUBLIC__}}static/portal/css/jcarousel.css" rel="stylesheet" />
    <link href="{{$Think.__MY_ROOT_PUBLIC__}}static/portal/css/flexslider.css" rel="stylesheet" />
    <link href="{{$Think.__MY_ROOT_PUBLIC__}}static/portal/js/owl-carousel/owl.carousel.css" rel="stylesheet">-->
    <link href="{{$Think.__MY_ROOT_PUBLIC__}}static/padmin/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->  


</head>
<body>



