<?php

//菜单数据

$menu =[

	[
		'title'		=> "全局设置",
		'module'	=> 'xinxin_website',
		'controller'=> 'admin',
		'action'	=> 'websitesystem',
		'subMenu'	=>[
			[
			'title'		=> "部门管理",
			'module'	=> 'xinxin_website',
			'controller'=> 'admin',
			'action'	=> 'index',
			],
			[
			'title'		=> "员工管理",
			'module'	=> 'xinxin_website',
			'controller'=> 'admin',
			'action'	=> 'websitesystem',
			],
		]
	],

	[
		'title'		=> "资产管理",
		'module'	=> 'xinxin_website',
		'controller'=> 'admin',
		'action'	=> 'index',
		'subMenu'	=>[
			[
			'title'		=> "电脑管理",
			'module'	=> 'xinxin_website',
			'controller'=> 'admin',
			'action'	=> 'nav',
			],
		]
	],

];
?> 

<style>
	/* .hide{ display: none;}
	.layui-layer-btn .layui-layer-btn0 {
		border: 1px solid #dedede;
		background-color: #fff;
		color: #333
	}
	.layui-layer-btn .layui-layer-btn1 {
		border-color: #009688;
		background-color: #009688;
		color: #fff;
	}
	span.cancel{
	background-color: #cecece; */
	}
</style >





<div class="tpl-left-nav tpl-left-nav-hover">


<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
	{{volist name='menu' id='m'}}
	<li class="layui-nav-item layui-nav-itemed">
		<a href="javascript:;">{{$m.title}}</a>
		<dl class="layui-nav-child">
			{{volist name="m.subMenu" id="subm"}}
			<dd
				 {{if condition="$subm.action==request()->param()['pluginsaction']"}}
				 class="layui-this"
			     {{/if}}
			><a href="{{:PluginsAdminUrl($subm.module, $subm.controller, $subm.action)}}">{{$subm.title}}</a></dd>
			{{/volist}}
		</dl>
	</li>
	{{/volist}}
</ul>
</div>

<script src="{{$Think.__MY_ROOT_PUBLIC__}}static/common/layui/layui.js"></script>
<script>
	layui.use('element', function(){
		var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

		//监听导航点击
		element.on('nav(demo)', function(elem){
			//console.log(elem)
			layer.msg(elem.text());
		});
	});
</script>
