{{include file="public/header" /}}


<style>
	/*弹出层按钮样式*/
	.layui-layer-btna {
		width: 120px;
		margin: 0px 15px;
	}
	.layui-layer-btn .layui-layer-btn0 {
		background-color: rgb(255, 255, 255);
		color: rgb(51, 51, 51);
		border-color: rgb(222, 222, 222);
	}
	.layui-layer-btn .layui-layer-btn1{
		background-color: #1E90FF;
		color: rgb(255, 255, 255);
		border-color: rgb(0, 150, 136);
	}
	
	#content {
		width: 100%; 
		min-height: 180px;
	}
	.title{
		font-size: 16px;
	}
	.title:hover{
		cursor: pointer;
	}
	.layui-btn-sm{
		padding: 0px 5px;
		margin:3px !important;
	}

.layui-input-inline {
  /* background-color: #fbff1e; */
  margin-right: 5px;
}

.layui-form-label {
  width: 60px !important;
}

.layui-input-inline {
  width: 100%;
}

.time-input {
  width: 100px !important;
}

</style>
<div style="padding: 15px;">

	<div id="sch-box" class="layui-row layui-col-space10">
		<div class="layui-col-md1">
			<span onclick="detail(0)" class="layui-btn layui-btn-normal">新增</span>
		</div>
		<div class="layui-col-md11">
			<form action="" onsubmit="return false;" class="layui-form">
        <div id="schForm"  class="layui-form-item">
          <div class="layui-inline layui-col-md12">
              <label class="layui-form-label" >申请时间</label>
              <div class="layui-input-inline time-input">
                <input type="text" name="start_time" autocomplete="off" class="layui-input " id="startTime" />
              </div>
              <label class="layui-input-inline" style="width: 15px; margin-top: 8px;" >--</label>
              <div class="layui-input-inline time-input">
                <input type="text" name="stop_time"  autocomplete="off" class="layui-input" id="stopTime" />
              </div>
              <div class="layui-input-inline" style="margin: 0 20px;">
                <input  id="keyword" name="keyword"  placeholder="关键字" class="layui-input" style=" width: 200px;"/>
              </div>
              <div class="layui-input-inline " style="padding-left: 15px; right: 10px;" >
                <button onclick="schInfo()" class="layui-btn layui-btn-normal" 
                    style="margin-left: 15px;" >搜索</button>
                <button onclick="loadInfo($('#keyword').val())" class="layui-btn layui-btn-normal" 
                    style="margin-left: 15px;" >下载</button>
              </div>
          </div>
        </div>
			</form>
		</div>
	</div>

	<div class="layui-row">
		<div class="grid-demo">
			<table id="infoList" class="layui-table" lay-filter="infoList"></table>
		</div>
	</div>
<style>#edit-box{padding: 30px;}</style>
	
	
	
</div>


<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->

<script>

	loadInfo('');
	layui.use(['form','layer'],function(){
		form = layui.form; layer=layui.layer;
	});
	
  function schInfo() {
    // loadInfo($('#keyword').val())
    let start_time = $('#startTime').val();
    let stop_time = $('#stopTime').val();
    let keyword = $('#keyword').val();
    
    loadInfo(keyword, start_time, stop_time);
  }

	function loadInfo(keyword, start_time, stop_time){

	  layui.use(['table', 'form','layer', 'laydate'], function () {
	      var $ = layui.$
	          // , admin = layui.admin
	          // , view = layui.view
	          , table = layui.table
	          , form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
      
      // render date elem
      laydate.render({
        elem: '#startTime'
      })

      laydate.render({
        elem: '#stopTime'
      })
            
      // render table
			table.render({
				elem: '#infoList'
				, method: "get"
				, response: {
					statusCode: '200' //重新规定成功的状态码为 200，table 组件默认为 0
					,count:'total'
				}
				,limit:20
				,where:{'keyword':keyword, 'start_time': start_time, 'stop_time': stop_time}
				, cellMinWidth: 80
				, parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
					console.log(res);
				}
				, url: "{{:MyUrl('padmin/index/getMaintainList')}}" //数据接口
				, page: true //开启分页
				, cols: [[ //表头
					  {field: 'id', title: 'ID', sort: true,width:60}
					,{field:'department',title:'部門',sort:true,width:80}
					,{field:'applicant',title:'申请人',sort:true,width:90}
					, {field: 'computer', title: '电脑名称', sort:true,templet:function(d){
						return  "<a href='###' lay-event='computer' >" + d.computer + "</a>";
					}}
					, {field: 'app_info', title: '申报信息', sort:true,templet:function(d){
						_html=d.app_info.substring(0,20);
						return _html;
					}}
					, {field: 'app_time', title: '申请时间',width:150,sort:true}
					, {field: 'maintain_time', title: '维护时间',sort:true,width:150}
					, {field: 'maintain_result', title: '结果',sort:true,width:80}
					,{field: 'opt', title: '操作', width:80,align: 'center',
						templet:function(_value)
						{
							var _html = "";
							_html += '<span class="layui-btn layui-btn-sm layui-btn-normal" lay-event="detail">详情</span>';
							return _html;
						}
					}
				]]
			}); //end of table.render
	       
	    table.on('tool(infoList)',function(obj){
	    	var data = obj.data;
	    	var action = obj.event;	//event = lay-event
	    	switch(action){
				case 'detail':
	    			detail(data);
	    		case 'computer':
					_url = "{{:MyUrl('padmin/index/computerInfo')}}"  + "?id=" + data.computer_id + "&departmentId=" + data.department_id;
	    			computer(_url);
	    			break;
				case 'del':
					layer.confirm('确认要删除吗？'
						, {btn:['确认','取消']}
						,function(){
							//确认
							del(data);
						}
						,function(){
							//取消
						}

					)
					break;
	    	}
	    });

		computer = function(url)
		{
			var ud = layer.open({
				type:2
				,area:['90%','95%']
				,closeBtn:1
				,title:'電脑详情'
				,shade:0.6
				,anim:2
				,content: url
				,id:"one"
				,offset: 'auto'
				,btnAlign: 'c'
				,yes: function(){
					layer.closeAll();
				}
				,success:function()
				{
					
				}
				,end:function()
				{
				}  
			});		//end of layer.open
		}	//end of  function.
		

		detail = function(d){
			id = d? d.id:0;        
			department_id = d? d.department_id:0;        
			// console.log(d); return false;
			var ud = layer.open({
				type:2
				,area:['90%','95%']
				,closeBtn:1
				,title:'维护详情'
				,shade:0.6
				,anim:2
				,content: "{{:MyUrl('padmin/index/maintainInfo')}}"  + "?id=" + id  +"&department_id=" + department_id
				,id:"one"
				,offset: 'auto'
				,btnAlign: 'c'
				,yes: function(){
					layer.closeAll();
				}
				,success:function()
				{
					
				}
				,end:function()
				{
				}  
			});		//end of layer.open
		}	//end of detail function.

		

	  });			//end of layui.user
		
	}



		

	
</script>