{{include file="public/header" /}}
<style>
    #edui1{
        width: 500px;
    }
    .body{
        width: 80%;
        margin:0 auto;
    }
    .check:hover{
        color: red;
        text-decoration:underline ;
    }
    .thumbs_img{ float: left; width: 100px; height: 110px; margin-right: 10px;}
    .thumbs_img .thumbs_del{ cursor: pointer;}
</style>
<!-- 自定义菜单排序 -->

<div class="body">
    <form class="layui-form layui-form-pane" style="margin-top: 30px">

        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text"  id='username' name="username" lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="text"  name="pwds" placeholder="不填则不修改密码"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="display:none;">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="0" title="启用" checked="">
                <input type="radio" name="status" value="1" title="禁用">
            </div>
        </div>


        <div class="layui-form-item" style="width: 93.5%">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit" style="display: none">立即提交</button>
            </div>
        </div>
        <input type="hidden" id="id" name="id" value="0">
    </form>
</div>


<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->
<script>


    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //创建一个编辑器
      //  var editIndex = layedit.build('content');

        form.on('submit(formDemo)', function(data){
            //加载读取特效
            var load = layer.load(2, {shade: [0.3,'#fff']});
            //AJAX提交
            $.ajax({
                url:"{{:MyUrl('padmin/index/websiteadminSave')}}",
                cache:false,
                type:"POST",
                dataType:"json",
                data:data.field,
                error:function(XMLHttpRequest, textStatus, errorThrown)
                {
                    layer.close(load);
                    parent.layer.msg("网络异常，请稍后再试！");
                },
                success:function(response)
                {
                    layer.close(load);
                    if( response.code == 0)
                    {

                        layer.msg(response.msg,{icon: 1});

                        //关闭窗口，并刷新父级页面
                        var index = parent.layer.getFrameIndex(window.name);
                        setTimeout(function(){parent.layer.close(index); parent.reload();}, 1000);
                    }
                    else
                    {
                        parent.layer.msg(response.msg,{icon: 2});
                    }
                }
            });
            return false;
        });

        setTimeout(function(){
            form.render()
        },200)

    });

</script>
